# ===== KONFIGURASI SELFBOT =====
# Token Discord
TOKEN=masukkan_token_anda_disini

# Channel IDs
TEXT_CHANNEL_ID=123456789012345678
VOICE_CHANNEL_ID=123456789012345678

# ===== ACCESS =====
# 1. Owner ID - ( unfixed )
OWNER_ID=123456789012345678

# 2. Role ID - ( ADMIN )
ROLE_ID=123456789012345678

# 3. Multiple Role ID
ROLE_IDS=123456789012345678,987654321098765432

# ===== SETTINGS =====
TYPING_INTERVAL=10
TYPING_DURATION=3
RANDOM_DELAY=true
STATUS_INTERVAL=60
STATUS_AUTO_START=false
DEBUG=false
